
# pip3 install torch==1.10.1+cpu torchvision==0.11.2+cpu torchaudio==0.10.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html

# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib>=3.8.0
numpy==1.26.0
opencv-python>=4.8.0
Pillow>=10.0.0
PyYAML>=6.0.1
requests>=2.31.0
scipy>=1.11.0
torch>=2.1.0
torchvision>=0.16.0
tqdm>=4.65.0


# detection
yolov5

# Logging -------------------------------------
tensorboard>=2.15.0

# Plotting ------------------------------------
pandas>=2.1.0
seaborn>=0.13.0

hdbscan>=0.8.33

thop  # FLOPs computation
